body {
  background-color: #cc0033ff;
  margin: 0;
  padding: 0;
  width: "100%";
  height: "100%";
}


button{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}




div.fixed {
  position: fixed;
  top: 0;
  width : 100%
}

ul {
  list-style: none;
  margin-top: 0px;
  width: 100%;
  background-color: #C85151;
}

ul li {
  display: inline-block;
  padding: 1.25rem 3rem;
  cursor: pointer;
}

ul li:hover,
ul li.active {
  background-color:#D8784C ;
}

.Signs, td, th {
  border: 1px solid black;
}

.Signs {
  margin-left: auto;
  margin-right: auto;
}

.scale-down-center {
	-webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
